* {
    box-sizing: border-box;
}

:root {
    --blue: #6495ed;
    --white: #ffffff;
    --purple: #4f247c;
    --red: #dd7b02;
    --font: #373737;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    color: var(--font);
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}


/* Typography */
h1, h2, h3 {
    margin: 0;
}

h2, h3 {
    font-weight: 100;
    line-height: 1;
    margin: 0 0 20px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 30px;
}

p {
    margin: 0 0 10px;
}

/* Header and menu */

.header {
    padding: 30px 20px 0;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 10px 15px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s ease-in;
}

.menu a:hover {
    border-bottom: 3px solid var(--red);
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu li {
        display: block;
    }

    .menu a {
        display: inline-block;
    }

    .mobile-menu-icon {
        display: inline-block;
    }

    .mobile-menu-icon:hover {
        cursor: pointer;
    }

    .icon-close {
        display: none;
    }

    .mobile-menu-icon.opened .icon-menu {
        display: none;
    }

    .mobile-menu-icon.opened .icon-close {
        display: block;
    }

    .menu.opened {
        display: block;
        position: absolute;
        top: 60px;
        right: 20px;
        text-align: right;
    }
}

/* Hero section */
.hero-section {
    color: var(--white);
    background: url(../images/hero-background-2.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.hero-logo {
    color: var(--red);
}

.hero-title {
    font-weight: 900;
    font-size: 120px;
    line-height: 1;
    margin: 100px 0 40px;
}

.hero-lead {
    font-size: 22px;
    max-width: 45%;
    margin-bottom: 50px;
}

.hero-button {
    color: var(--white);
    border: 3px solid var(--red);
    padding: 8px 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
}

.hero-button:hover {
    background-color: var(--red);
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 90px;
    }

    .hero-lead {
        max-width: 100%;
        font-size: 20px;
    }
}

/* Columns */
.columns-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-2 {
    width: 45%;
}

.column-3 {
    width: 32%;
}

.column-4 {
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .column-3 {
        width: 49%;
    }
}

@media screen and (max-width: 768px) {
    .columns-container {
        flex-direction: column;
    }
    .column-3, .column-2 {
        width: 100%;
    }

    .column-4 {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
}

/* Sections */
.section {
    padding: 100px 0;
}

.section-violet {
    background-color: var(--purple);
    color: var(--white);
}

.section-red {
    background-color: var(--red);
    color: var(--white);
}

.section-title {
    color: var(--red)
}

/* About section */
.about-section {
    padding: 120px 0;
}

.about-image {
    text-align: center;
    max-height: 550px;
    height: 100%;
    position: relative;
}

.about-image::before {
    content: "";
    border: 20px solid var(--purple);
    position: absolute;
    top: -35px;
    left: -20px;
    width: 366px;
    height: 550px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    z-index: -2;
}

.about-image::after {
    content: "";
    background-color: var(--red);
    position: absolute;
    top: 35px;
    right: -20px;
    width: 366px;
    height: 550px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.about-image img {
    max-height: 550px;
    width: fit-content;
}

.about-text p.first-letter::first-letter{
    color: var(--red);
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .about-text {
        margin-top: 60px;
    }
}

@media screen and (max-width: 450px) {
    .about-text {
        margin-top: 100px;
    }
}

/* Interests section */
.interests-section svg {
    border: 2px solid var(--red);
    padding: 25px;
    border-radius: 50%;
}

#interests h3 {
    margin: 20px 0;
}

#interests p {
    padding: 0 10px;
    font-size: 14px;
}

/* Photos section */
.photos-title {
    text-align: center;
    color: var(--purple);
}

.photos-lead {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.photos-section figure {
    margin: 0;
}

.photos-section img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: transform 0.5s ease-in;
}

.photos-section img:hover {
    transform: scale(102%);
}

.photos-section figcaption {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 768px){
    .photos-lead {
        max-width: 100%;
    }
    .photos-section img {
        height: 350px;
    }
}

/* Quote section */
.quote-section {
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}

.quote-section::after {
    content: "";
    position: absolute;
    background-color: var(--purple);
    width: 350px;
    height: 350px;
    bottom: -75px;
    right: -90px;
    border-radius: 50%;
    z-index: 1;
}

.quote-text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}

.quote-author {
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    z-index: 2;
    position: relative;
}

@media  screen and (max-width: 768px) {
    .quote-text {
        font-size: 30px;
    }
    
}

/* Contact section */
.contact-title {
    text-align: center;
    margin-bottom: 40px;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
}

.contact-form input, .contact-form textarea {
    border: 3px solid var(--purple);
    border-radius: 0;
    padding: 8px 15px;
    margin-bottom: 15px;
}

.contact-form label {
    padding-bottom: 5px;
}

.submit-button {
    color: var(--white);
    background-color: var(--purple);
    border: 3px solid var(--purple);
    text-decoration: none;
    padding: 10px 40px;
    margin: 30px auto;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.submit-button:hover {
    color: var(--purple);
    background-color: var(--white);
}

@media screen and (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
}

/* Footer */
#footer {
    padding: 40px 0;
}

.social, .copyright {
    width: 49%;
    display: inline-block;
}

.copyright {
    font-size: 14px;
}

.social {
    text-align: right;
}

.social a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    padding-left: 10px;
}

@media screen and (max-width: 768px){
    .social, .copyright {
        width: 100%;
        display: block;
        text-align: center;
    }

    .social {
        margin-top: 20px;
    }
}